.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.pageBtn {
  min-width: 40px;
  height: 40px;
  padding: 0 10px;
  border: none;
  border-radius: 8px;
  background: #222837;
  color: white;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.pageBtn:hover:not(:disabled) {
  background: #2f374a;
}

.pageBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.active {
  background: #ff3b3b;
  color: white;
}

.ellipsis {
  color: #aaa;
  padding: 0 6px;
}